<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974081596038-gh30riornbch9coa1h6gc6n45qq9kvt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974081596038-gh30riornbch9coa1h6gc6n45qq9kvt3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974081596038-ddnrn4dtcv7846823k1ohemc5vjcfdg9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_EODGXt27OyyFby7FOwkw4n4yosH1DXg</string>
	<key>GCM_SENDER_ID</key>
	<string>974081596038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suryabhai.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-7d5bf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-7d5bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974081596038:ios:b504fa73422623de</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-7d5bf.firebaseio.com</string>
</dict>
</plist>